* {
    font-family: sans-serif;
}

body {
    background-image: url(https://img.freepik.com/free-vector/mostera-background_53876-91263.jpg?w=1480&t=st=1695761842~exp=1695762442~hmac=8b71311d4b9a613bf3cd63dfca5622f7e93928d39a4675f1d93a042a946f925e);
}

.titulo {
    display: block;
    margin: 0 auto;
    padding-top: 20px;
    margin-bottom: 15px;
    margin-bottom: 105px;
    height: 100px;
    width: 700px;
    text-align: center;
}

h1 {
    color: rgb(0, 42, 19);
    background-color: rgba(255, 255, 255, 0.331);
}

h3 {
    font-size: 28px;
}

.planes {
    display: flex;
    justify-content: center;
}

.plan {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 230px;
    margin: 0 10px;
    transition-property: transform;
    transition-duration: 500ms;
}

.plan:hover {
    transform: scale(110%);
}

.Plan_1 {
    background-color: rgb(255, 243, 207);
    border: 3px solid rgb(250, 230, 167);
}

.Plan_2 {
    background-color: rgb(250, 229, 255);
    border: 3px solid rgb(243, 196, 255);
}

.Plan_3 {
    background-color: rgb(198, 247, 246);
    border: 3px solid rgb(110, 252, 219);
}

.head_plan {
    text-align: center;
    font-size: x-large;
    font-weight: 700;
}

.descripción {
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 15px;
    line-height: 25px;
    padding: 10px 0;
    margin: 0;
    flex-basis: 180px;
}

.head_box {
    display: flex;
    justify-content: center;
    margin: 0;
    border-radius: 50% 50% 0 0;


    padding-top: 18%;
    padding-bottom: 10%;
}

.head_box__plan1 {
    background-color: rgb(250, 230, 167);
}

.head_box__plan2 {
    background-color: rgb(243, 196, 255);
}

.head_box__plan3 {
    background-color: rgb(110, 252, 219);
}

.precio_box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 18px 0;

    font-size: x-large;
    font-weight: 800;
}

.Precio_box__1 {
    background-color: rgb(250, 230, 167);
}

.Precio_box__2 {
    background-color: rgb(243, 196, 255);
}

.Precio_box__3 {
    background-color: rgb(110, 252, 219);
}